body {
	font-family: Arial;
	font-size: 2.5em;
	color: gray;
	background-image: url("Linen.jpg");
}

#top-bar{
	width: 100%;
	height: 100px;
	border: 1px solid orange;
	color: #D5BE93;
	padding-top: 30px;
	text-align: center;
	padding-bottom: 15px;
	background-image: url("milk.gif");
	background-repeat: no-repeat;
	background-position: top center;
}


#lists {
	width: 49%;
	float: left;
}

#favorites {
	width: 49%;
	float: right;
}


li {
	font-size: 15px;
	border-radius: 2px;
	list-style: none;
	color: orange;
	border: 1px dotted #486D88;
	text-align: center;
}

legend {
	color: #A9D0F5;
	font-size: 30px;
}

button {
	color: gray;
	background-color: #FFBB5F;
	border-radius: 15px;
	font-size: 15px;
	height: 30px;
	width: 40px;
}

input {
	background-color: #efc998;
	//color: #fcb75d;   
	color: black;
	border-radius: 15px;
	height: 24px;
	box-shadow: #efc998 1px 1px;
}

fieldset {
	border: 3px dotted #708EA4;
	text-align: center;
}

span {
	color: #64768B;
}

a, a:visited,a:active{
	text-decoration: none;
	color: #efc998;
}

body {
	font-family: Arial;
	font-size: 2.5em;
	color: gray;
	background-image: url("linen.jpg");
}

.strike {
	text-decoration: line-through;
}